*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
#*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData
.RHistory
*.doc
*.docx

myNotes.*
outputs/diagnostics
outputs/simData
outputs/srAnalysis/
data/workingFinalSimRun
data/old
data/recursiveLarkinMCMCPars.csv
data/recursiveRickerMCMCPars.csv
R/hidden
.Rproj.user
*.html
scripts/*cache*
#*.png
scripts/sync.rds
*.o
*.so

